//NearFutureSpacecraftを翻訳したとき同様の大きな感謝をmod作者のNerteaさん(またはチーム？)、KSP日本語コミュニティ、そしてDeepLに捧げます。
//Thank you so so much to Nertea-San, KSP Japanese Players' community, and DeepL!
// ライフサポート系はプレイしたことがないので、ひょっとしたらそのあたりにミスがあったかもしれません。
//I've never played with Life-Suport type mods, so there may be some mistakes in those mods relait with.

Localization//by Yark_Aki
{

  ja
  {
	  #LOC_NFElectrical_Version = Near Future Electrical 1.0.0

    // CONFIG(設定
    // MANUFACTURERS(製造会社
    #LOC_NFElectrical_manufacturer_kerbkastria_title = 株式会社カーブ・カストレア
    #LOC_NFElectrical_manufacturer_postkerbin_title = ポストカービン採掘株式会社
    #LOC_NFElectrical_manufacturer_battdirect_title = バッツ・ダイレクト バッテリーズ
    #LOC_NFElectrical_manufacturer_capitalcity_title = キャピタルシティ・エレクトロニクス

    // VARIANTS(バリエーション
    #LOC_NFElectrical_reactor_switcher_mount_title = マウント
    #LOC_NFElectrical_reactor_switcher_mount_variant1 = インライン
    #LOC_NFElectrical_reactor_switcher_mount_variant2 = 解放
    #LOC_NFElectrical_reactor_switcher_open_summary = オープンマウント方式
    #LOC_NFElectrical_reactor_switcher_open_detail = リアクターは頂点の接続ノード無しでマウントされます
    #LOC_NFElectrical_reactor_switcher_inline_summary = トラス付きインライン
    #LOC_NFElectrical_reactor_switcher_inline_detail = リアクターをインラインで搭載しつつ、トラスで覆うことでさらなる汎用性を持たせます

    // PARTS(パーツ
    // Batteries(バッテリー
    #LOC_NFElectrical_battery-0625_title = B-3K リチャージブル バッテリーバンク
    #LOC_NFElectrical_battery-0625_description = B-3Kの最大のセールスポイントは、単4形電池28本を使用した冗長性です。電池が切れている状態では動作しないことがあります。動作中に電池を取り出さないでください。
    #LOC_NFElectrical_battery-0625_tags = cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_battery-125_title = B-6K リチャージブル バッテリーバンク
    #LOC_NFElectrical_battery-125_description = B-6Kは事故の少ないE電池をスタック配置で使用しているため、B-3Kよりも一般的に信頼性が高いと言われています。バッツ・ダイレクト社は各電池の交換能力を宣伝していますが、バット・ダイレクト社以外の手による交換は推奨していません。また、宇宙で使用した場合は保証が無効になります。
    #LOC_NFElectrical_battery-125_tags = cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_battery-25_title = B-12K リチャージブル バッテリーバンク
    #LOC_NFElectrical_battery-25_description = ザルトニック・エレクトロニクスに対抗するため、バット・マン・バッテリーは同社最大の12Kバッテリーバンクを直接KSCに卸売価格で販売し始めました。今ならハシゴも付属しますよ！
    #LOC_NFElectrical_battery-25_tags = cell charge e/c elect pack power volt watt nearfuture  充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_battery-375_title = B-10K リチャージブル バッテリーバンク
    #LOC_NFElectrical_battery-375_description = 廃止予定
    #LOC_NFElectrical_battery-375_tags = cell charge e/c elect pack power volt watt nearfuture セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_battery-rad-125_title = B-800 リチャージブル バッテリー
    #LOC_NFElectrical_battery-rad-125_description = バッツ・ダイレクト社の「ホバーボード」プロジェクトは、度重なる激しい炎上が原因で放棄されました。その過程で開発されたスクーター用の大型かつ強力なバッテリーは倉庫で放置されていたらしいのですが、このバッテリーを急成長中の分野である宇宙開発に転用したら、いったいどうなるのでしょうね？
    #LOC_NFElectrical_battery-rad-125_tags = cell charge e/c elect pack power volt watt nearfuture  セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    // Capacitors
    #LOC_NFElectrical_capacitor-0625_title = CAR-1.6K キャパシターバンク
    #LOC_NFElectrical_capacitor-0625_description =  小型探査機のためのインラインキャパシターです。充電には時間がかかるうえに起動すると短時間で全て放電してしまうのですが、その分容量は非常に大きく他の充電式バッテリーを一気に充電できます。\nなお、バッツ・ダイレクトではコンデンサーという呼び方を「古めかしい」言い方だとして避けることにしています。あるいは業界内に広く共有された「コンデンサーとはプローブコアの中の小さな部品に使う名前だ」という共通認識のせいかもしれません。
    #LOC_NFElectrical_capacitor-0625_tags = capacitor cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_capacitor-125_title = CAR-8K キャパシターバンク
    #LOC_NFElectrical_capacitor-125_description = 強化された6個のCAP-102を中央のマウントに取り付けることで、そこそこの大きさのインラインコンデンサバンクを作ることができるのです。最大出力で放電すると、KSCの全ての電灯を吹き飛ばすことも可能です。\n一度実演したせいか、CAP-102そのものの納入はKSCに断られてしまいました。
    #LOC_NFElectrical_capacitor-125_tags = capacitor cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット アンペア 電池 蓄電

    #LOC_NFElectrical_capacitor-25_title = CAR-EXTRA キャパシターバンク
    #LOC_NFElectrical_capacitor-25_description = これは非常に強力なキャパシターバンクです。最大出力では最大10秒間で放電しきってしまいますが、それでも莫大な電力を供給して大電力を必要とするタイプの大型エンジンを稼働させることすらできます。
    #LOC_NFElectrical_capacitor-25_tags = capacitor cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット 電池 蓄電

    #LOC_NFElectrical_capacitor-radial-0625_title = CAP-101 キャパシター
    #LOC_NFElectrical_capacitor-radial-0625_description = CAP-101はラジアル配置可能なキャパシターです。充電には時間がかかりますが、一度起動すると蓄えた電荷を素早く全てのバッテリーバンクに充電します。このときキャパシター自身は例えバッテリーバンクが満タンになった後も空になるまで放電を続けてしまうので、キャパシターの容量と同じくらいか上回るくらいのバッテリーを用意しておくと無駄がないでしょう。
    #LOC_NFElectrical_capacitor-radial-0625_tags = capacitor cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット 電池 蓄電

    #LOC_NFElectrical_capacitor-radial-0625-2_title = CAP-106 キャパシター
    #LOC_NFElectrical_capacitor-radial-0625-2_description = CAP-106は新型のCAP-3Aキャパシターを3個使用したラジアル配置可能かつより強力なキャパシターです。メインセイルの箱の下に積まれていたため、少し平らになっています。CAP-3Aのバラ売り在庫は現在品切れしています。
    #LOC_NFElectrical_capacitor-radial-0625-2_tags = capacitor cell charge e/c elect pack power volt watt nearfuture キャパシター セル 充電 電流 電気 電力 ボルト ワット 電池 蓄電

    // Reactors(反応炉
    #LOC_NFElectrical_reactor-0625_title = MX-0 "カーボ・パワー" 核分裂発電機
    #LOC_NFElectrical_reactor-0625_description = スターリング機関と小さな核分裂反応を利用して、数kWの電気を発生させる小型の実験用核分裂発電機です。これ以上大きくなると、ちゃんとした原子炉が必要になってきますね！\n燃料として濃縮ウランを使用し、廃棄物として劣化ウランが発生します。
    #LOC_NFElectrical_reactor-0625_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission kilopower kerbopower アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 キロ単位発電

    #LOC_NFElectrical_reactor-125_title = MX-1 "ガーネット" 核分裂反応炉
    #LOC_NFElectrical_reactor-125_description = MX-1は最大400kWの電力を発生させられる程度の小さな核分裂反応炉です。小さいとはいえ放熱は強烈です、稼働させる時は十分な放熱容量を用意してください。
    #LOC_NFElectrical_reactor-125_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission topaz safe garnet アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 トパーズ 安全 ガーネット

    #LOC_NFElectrical_reactor-25_title = MX-2S "プロメテウス" 核分裂反応炉
    #LOC_NFElectrical_reactor-25_description = MX-2Sは、2MWという衝撃的な電力を発生させる主力級の核分裂反応炉です。なにか他に特殊な機能があるわけではありませんが、そもそもこの発電力自体が偉業を成し遂げる文字通りの原動力となることでしょう。
    #LOC_NFElectrical_reactor-25_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission prometheus アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 プロメテウス

    #LOC_NFElectrical_reactor-25-2_title =  MX-2L "エクスカリバー" 核分裂反応炉
    #LOC_NFElectrical_reactor-25-2_description = MX-2Lは二番目に大きな直径を持つMX-2シリーズ核分裂反応炉の大型版です。\n同一シリーズのMX-2Sに比べて出力だけでなく効率もまた高いので、出力比で考えると必要なラジエーターは少なくて済みます。
    #LOC_NFElectrical_reactor-25-2_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission excalibur アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 エクスカリバー

    #LOC_NFElectrical_reactor-375_title = MX-3S フラット F.L.A.T. 核分裂反応炉
    #LOC_NFElectrical_reactor-375_description = MX-2Lの先進的な発電機の成功により、メーカーは古いMX-2Sの炉心を改修し、発電部を改良して再び出荷することができるようになりました。F.L.A.T.は燃料効率と信頼性においては最上級の原子炉であり、さらに核燃料の搭載容量に余裕を持たせることで前例のない炉心寿命を達成しています。
    #LOC_NFElectrical_reactor-375_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission flat アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 フラット

    #LOC_NFElectrical_reactor-375-2_title = MX-3L "ヘルメス" 核分裂反応炉
    #LOC_NFElectrical_reactor-375-2_description = 核技術を桁違いに向上させ、MX-3Sをさらに高性能化しました。電気エンジンで30日以内にドゥナに到着するためには、これくらいの性能が必要だとメーカーのエンジニアは主張しています。
    #LOC_NFElectrical_reactor-375-2_tags = active atom charge e/c elect energ generat nuclear nuke power thermo volt watt reactor nearfuture fission hermes アクティブ 原子 充電 電気 エネルギー 発電機 原子力 原子力発電 熱 ボルト ワット 反応炉 核分裂 ヘルメス


    // Resources (資源
    #LOC_NFElectrical_nuclear-recycler-25_title = ホイーリジッグ 核燃料再処理機
    #LOC_NFElectrical_nuclear-recycler-25_description = 鉱石から核燃料である濃縮ウランへの抽出加工、使用済み核燃料燃料である劣化ウランから濃縮ウランへの再処理、または劣化ウランから崩壊処理としてキセノンの抽出が可能な遠心分離型の移動精製プラントです。コンバートオートロンなどと同様、いずれの工程も大量の電力と冷却能力を必要とします。
    #LOC_NFElectrical_nuclear-recycler-25_USI_description = 使用済み核燃料燃料である劣化ウランを濃縮ウランに再処理したり、崩壊過程としてキセノンを取り出したりすることが可能な遠心分離型の移動精製プラントです。いずれの工程も大量の電力と冷却能力を必要とします。
    #LOC_NFElectrical_nuclear-recycler-25_tags = conver isru mine )mining (ore process resource uranium refine reprocess nuclear nuke nearfuture コンバータ 変換 ISRU 鉱脈 )採掘 (鉱石 処理 資源 再処理 原子力発電 原子力

    #LOC_NFElectrical_nuclearfuel-0625_title = MF-0 核燃料ドラム
    #LOC_NFElectrical_nuclearfuel-0625_description = この小さな、そしてある程度遮蔽された容器は、おそらく少量の核燃料を貯蔵するのに適しているでしょう。核燃料や使用済み核燃料の移送にはエンジニアが必要です。また、炉などが十分に冷めていなければ、たとえ熟練のエンジニアであっても移送は不可能と言えるでしょう。
    #LOC_NFElectrical_nuclearfuel-0625_tags = atom nuclear nuke power reactor uranium shielded nearfuture 原子 原子力 原子力発電 反応炉 ウラン シールド

    #LOC_NFElectrical_nuclearfuel-125_title = MF-1 核燃料ドラム
    #LOC_NFElectrical_nuclearfuel-125_description = 核燃料と使用済み核燃料を貯蔵するのに適した中くらいの大きさの容器です。遮蔽も十分に基準を満たしており、安全です。
    #LOC_NFElectrical_nuclearfuel-125_tags = atom nuclear nuke power reactor uranium shielded nearfuture 原子 原子力 原子力発電 反応炉 ウラン シールド

    #LOC_NFElectrical_nuclearfuel-25_title = MF-2 核燃料ドラム
    #LOC_NFElectrical_nuclearfuel-25_description = 核燃料と使用済み核燃料の貯蔵用の遮蔽済み大容量コンテナです。そもそも宇宙線防護技術があるのだから安全なのは当然なのです。
    #LOC_NFElectrical_nuclearfuel-25_tags = atom nuclear nuke power reactor uranium shielded nearfuture 原子 原子力 原子力発電 反応炉 ウラン シールド

    #LOC_NFElectrical_nuclear-recycler-25_UraniumProcessor_name = ウラン再処理装置
    #LOC_NFElectrical_nuclear-recycler-25_UraniumProcessor_StartAction = ウラン再処理開始
    #LOC_NFElectrical_nuclear-recycler-25_UraniumProcessor_StopAction = ウラン再処理中止
    #LOC_NFElectrical_nuclear-recycler-25_UraniumProcessor_ToggleAction = ウラン再処理装置切り替え

    #LOC_NFElectrical_nuclear-recycler-25_XenonExtractor_name = キセノン抽出装置
    #LOC_NFElectrical_nuclear-recycler-25_Xenonxtractor_StartAction = キセノン抽出開始
    #LOC_NFElectrical_nuclear-recycler-25_XenonExtractor_StopAction = キセノン抽出中止
    #LOC_NFElectrical_nuclear-recycler-25_XenonExtractor_ToggleAction = キセノン抽出装置切り替え

    #LOC_NFElectrical_nuclear-recycler-25_UraniumExtractor_name = ウラン抽出装置
    #LOC_NFElectrical_nuclear-recycler-25_UraniumExtractor_StartAction = ウラン抽出開始
    #LOC_NFElectrical_nuclear-recycler-25_UraniumExtractor_StopAction = ウラン抽出中止
    #LOC_NFElectrical_nuclear-recycler-25_UraniumExtractor_ToggleAction = ウラン抽出装置切り替え

    #LOC_NFElectrical_nuclear-recycler-25_UraniumRefiner_name = ウラン精製装置
    #LOC_NFElectrical_nuclear-recycler-25_UraniumRefiner_StartAction = ウラン精製開始
    #LOC_NFElectrical_nuclear-recycler-25_UraniumRefiner_StopAction = ウラン精製中止
    #LOC_NFElectrical_nuclear-recycler-25_UraniumRefiner_ToggleAction = ウラン精製装置切り替え


    // Other
    #LOC_NFElectrical_rtg-0625_title = PB-AS-NUK 原子力電t
    #LOC_NFElectrical_rtg-0625_description = アイオニック・シンフォニック社のエンジニアは、ポストカービン社製の発電機からリバースエンジニアリングした技術を用いて開発したさらに効率的なエネルギー変換システムにより、PB-NUKよりもさらに高性能な原子力電池を開発しました。\nPB-NUKよりも大量のブルトニウム238を使用しているため、高価かつ重くなってしまいましたがそれに見合う発電力があります。
    #LOC_NFElectrical_rtg-0625_tags = active atom charge e/c elect energ generat isotope nuclear nuke power radio rtg thermo volt watt nearfuture アクティブ 能動的 充電 電流 電気 エネルギー 発電 核 電力 RTG 放射性 同位体 熱電気転換器 ボルト ワット アンペア



    // PLUGIN

    #LOC_NFElectrical_Units_kW = kW
    #LOC_NFElectrical_Units_EcS = EC/s
    #LOC_NFElectrical_Units_ScS = SC/s
    #LOC_NFElectrical_Units_K = K

    // ModuleDischargeCapacitor
	#LOC_NFElectrical_ModuleDischargeCapacitor_ModuleName = キャパシター
	#LOC_NFElectrical_ModuleDischargeCapacitor_PartInfo = 最大電荷放出率: <<1>>/s \n充電率: <<2>> Sc/s \n変換効率: <<3>>%

	#LOC_NFElectrical_ModuleDischargeCapacitor_Action_ToggleUI = キャパシター管理パネル切り替え
	#LOC_NFElectrical_ModuleDischargeCapacitor_Action_ToggleCharge = 充電切り替え
	#LOC_NFElectrical_ModuleDischargeCapacitor_Action_EnableCharge = 充電開始
	#LOC_NFElectrical_ModuleDischargeCapacitor_Action_DisableCharge = 充電中止
	#LOC_NFElectrical_ModuleDischargeCapacitor_Action_Discharge = キャパシター放電開始

	#LOC_NFElectrical_ModuleDischargeCapacitor_Event_Discharge = キャパシター放電
	#LOC_NFElectrical_ModuleDischargeCapacitor_Event_EnableCharge = 充電開始
	#LOC_NFElectrical_ModuleDischargeCapacitor_Event_DisableCharge = 充電中止

	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_DischargeRate = 放電率
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status = ステータス
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status_Discharging = 放電速度 <<1>> EC/s
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status_Charging = 充電速度 <<1>> EC/s
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status_NoPower = 十分な電荷が残っていません！
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status_Ready = 待機中
	#LOC_NFElectrical_ModuleDischargeCapacitor_Field_Status_Empty = 放電済み

	// ModuleFissionReactor
	#LOC_NFElectrical_ModuleFissionReactor_ModuleName = 核分裂反応炉
	#LOC_NFElectrical_ModuleFissionReactor_PartInfo = 要求放熱容量: <<1>> kW \n\n<color=#99ff00>温度パラメ－ター:</color>\n- 稼働理想温度: <<2>> K \n- 炉心損傷温度: > <<3>> K\n- 炉心メルトダウン温度: <<4>> K\n\n推定炉心寿命: <<5>>
	#LOC_NFElectrical_ModuleFissionReactor_Action_TogglePanelAction = 反応炉管理パネル切り替え

	#LOC_NFElectrical_ModuleFissionReactor_Action_StartActionName = 反応炉始動
	#LOC_NFElectrical_ModuleFissionReactor_Action_ToggleActionName = 反応炉稼働切り替え
	#LOC_NFElectrical_ModuleFissionReactor_Action_StopActionName = 反応炉停止

	#LOC_NFElectrical_ModuleFissionReactor_Event_ShowReactorControl = 反応炉管理パネル切り替え
	#LOC_NFElectrical_ModuleFissionReactor_Event_RepairReactor = 反応炉修理

	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_RepairSuccess = 炉心を<<1>>%まで修理完了!
	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_CoreTooDamaged = 炉心の損傷が激しすぎます!修理できません!
	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_CoreAlreadyRepaired = すでにIVAでの炉心修復限度（<<1>>％）に達しています。
	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_EngineerLevelTooLow = 炉心の修理にはLv. <<1>> 以上のエンジニアが必要です。
	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_NotWhileRunning = 稼働中の反応炉は修理できません!
	#LOC_NFElectrical_ModuleFissionReactor_Message_Repair_CoreTooHot = この反応炉の修理は炉心温度が <<1>> K以下でなければできません!

	#LOC_NFElectrical_ModuleFissionReactor_Field_CurrentSafetyOverride = 自動停止温度
	#LOC_NFElectrical_ModuleFissionReactor_Field_CurrentPowerPercent = 出力設定
	#LOC_NFElectrical_ModuleFissionReactor_Field_ReactorOutput = 反応炉出力
	#LOC_NFElectrical_ModuleFissionReactor_Field_ReactorOutput_Meltdown = 炉心が壊れています
	#LOC_NFElectrical_ModuleFissionReactor_Field_ReactorOutput_Offline = 反応炉は応答していません
	#LOC_NFElectrical_ModuleFissionReactor_Field_ThermalTransfer = 電源として利用可能です
	#LOC_NFElectrical_ModuleFissionReactor_Field_CoreTemp = 炉心温度
	#LOC_NFElectrical_ModuleFissionReactor_Field_CoreStatus = 炉心残り耐久度
	#LOC_NFElectrical_ModuleFissionReactor_Field_CoreStatus_Meltdown = 完全にメルトダウンしています
	#LOC_NFElectrical_ModuleFissionReactor_Field_FuelStatus = 炉心寿命
	#LOC_NFElectrical_ModuleFissionReactor_Field_FuelStatus_Meltdown = 炉心は壊れています
	#LOC_NFElectrical_ModuleFissionReactor_Field_FuelStatus_Offline = 反応炉は応答していません
	#LOC_NFElectrical_ModuleFissionReactor_Field_FuelStatus_Exhausted = 核燃料がありません
	#LOC_NFElectrical_ModuleFissionReactor_Field_FuelStatus_VeryLong = 十分に長持ちします

	// FissionGenerator
	#LOC_NFElectrical_ModuleFissionGenerator_ModuleName = 反応炉発電機
	#LOC_NFElectrical_ModuleFissionGenerator_PartInfo = 発電量: <<1>> Ec/s
	#LOC_NFElectrical_ModuleFissionGenerator_Field_GeneratorStatus = 発電中
  #LOC_NFElectrical_ModuleFissionGenerator_Field_GeneratorStatus_Normal = <<1>> Ec/s
	#LOC_NFElectrical_ModuleFissionGenerator_Field_GeneratorStatus_Offline = 接続されていません

	// FissionFlowRadiator
	#LOC_NFElectrical_ModuleFissionFlowRadiator_ModuleName = 排気による冷却
	#LOC_NFElectrical_ModuleFissionFlowRadiator_PartInfo = 排気による冷却: <<1>> kW\nラジエーターによる冷却: <<2>> kW
	#LOC_NFElectrical_ModuleFissionFlowRadiator_Field_RadiatorStatus = 廃熱中

	// RadioactiveStorageContainer
	#LOC_NFElectrical_ModuleRadioactiveStorageContainer_ModuleName = 核燃料タンク
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_PartInfo = \n 核燃料や廃棄物の保管・移送を可能にします。

  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Event_TransferFuel = 核燃料移送
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Event_TransferWaste = 廃棄物移送

  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_StartTransfer = 核燃料を移送するパーツを選んでください
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortEngineerLevel = 移送にはLv. <<1>> 以上のエンジニアが乗っている必要があります!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortFromRunningConverter = 稼働中のコンバーターからの移送はできません!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortToRunningConverter = 稼働中のコンバーターへの移送はできません!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortFromRunningReactor = 稼働中の反応炉からの移送はできません!非常に危険です!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortToRunningReactor = 稼働中の反応炉への移送はできません!非常に危険です!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortTooHot =  <<1>> K 以下でなければこのパーツへの移送はできません!
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortNoResource = このパーツには移送するだけの<<1>>が残っていません !
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortNoPartSelected = パーツが選択されていません。移送モードを終了します...
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortUnconnected = 接続されていない船体やパーツには移送できません。移送モードを終了します...
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_AbortNoRadStorage = 選択されたパーツには核燃料などを取り扱うための設備がありません。移送モードを終了します...
  #LOC_NFElectrical_ModuleRadioactiveStorageContainer_Message_Success = <<1>> <<2>> をコンテナへ移送しました!


	// RadioisotopeGenerator
	#LOC_NFElectrical_ModuleRadioisotopeGenerator_ModuleName = 原子力電池
  #LOC_NFElectrical_ModuleRadioisotopeGenerator_PartInfo = 継続的に発電しますが、だんだんと劣化していきます。: <<1>> Ec/s \n半減期: <<2>> 年

  #LOC_NFElectrical_ModuleRadioisotopeGenerator_Field_HalfLife = 半減期
  #LOC_NFElectrical_ModuleRadioisotopeGenerator_Field_PercentPower  = 効率
  #LOC_NFElectrical_ModuleRadioisotopeGenerator_Field_ActualPower = 出力

	// Capacitor UI
	#LOC_NFElectrical_CapacitorUI_Title = キャパシター管理パネル
	#LOC_NFElectrical_CapacitorUI_SummaryRecharge = 充電中
	#LOC_NFElectrical_CapacitorUI_SummaryDischarge = 次の割合で放電します:
	#LOC_NFElectrical_CapacitorUI_NotInstalled = キャパシターがありません!

	// Reactor UI
	#LOC_NFElectrical_ReactorUI_Title = 反応炉管理パネル
	#LOC_NFElectrical_ReactorUI_Customize_Title = 反応炉管理パネル
	#LOC_NFElectrical_ReactorUI_NotInstalled = 反応炉がありません!
	#LOC_NFElectrical_ReactorUI_AdvancedControls = より詳細な管理(ADVANCED CONTROLS)
  }
}
